{% extends "base.html" %}

{% block content %}

	<div class="panel panel-default ">
        <div class="panel-body">
            <h1 align="center">Basic panel example</h1>
            <div class = "col-md-3">
                <a href="/" class="thumbnail">
                    {% if artist_path %}
                        <img src="{{artist_path}}" alt="...">
                    {% else %}
                        <img src="None" alt="...">
                    {% endif %}
                </a>
                <h2 align="center">Tracklist</h2>
            </div>
            {{artist_info}}
        </div>
    </div>
<!--
    <div class="panel panel-default col-md-9 col-sm-offset-1">
        <div class="panel-body">
            <h1 align="center">Basic panel example</h1>
            <div>
                <a href="/" class="thumbnail">
                    <img src="../static/test.jpg" alt="...">
                </a>
            </div>
            <h2 align="center">Tracklist</h2>
        </div>
    </div> -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 align="center">Most popular albums</h1>
            <div class="row">
                {% for i in range (top_albums|length)%}
                    <div class="col-xs-6 col-md-3">
                        <a href="/" class="thumbnail">
                            <img src="{{top_albums[i].path}}" alt="...">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}