{% extends "base.html" %}

{% block content %}

{% if not other %}
    {% if not password %}
        <div class = "row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-body">
                    <div class="row">
                        <h1 align = "center"> Benvenuto nel tuo profilo {{username}}! </h1>
                        <div class="col-xs-6 col-md-3">
                            <div class="thumbnail">
                                {% if profile_pic == 'None' %}                     
                                    <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
                                {% else %}
                                    <img src="{{profile_pic}}">
                                {% endif %}
                                <div class="caption">
                                    <form action = "/profile/{{username}}" method = "POST">
                                        <textarea class="form-control" rows="2" name = "image">{{image}}</textarea>
                                        <div class="col-md-3"></div>
                                        <button type="submit" class="btn btn-primary">Cambia immagine profilo!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <h3 align = "left">
                            Name: {{name}}<br>
                            Surname: {{surname}}<br>
                            Email: {{email}}<br>
                            Numero recensioni: {{review_num}}<br>
                            Numero commenti: {{comment_num}}<br>
                            Genere preferito: {{fav_genre}}<br><br>
                            <a href = "/profile/{{username}}/password">Cambia password</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1 align="center">I tuoi album preferiti</h1>
                <div class="row">
                    {% for i in range (fav_albums|length)%}
                        <div class="col-xs-6 col-md-3">
                            <a href="/album/{{ fav_albums[i].artist }}/{{ fav_albums[i].name }}/{{fav_albums[i].id_itunes}}" class="thumbnail">
                                <img src="{{fav_albums[i].path}}" alt="...">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% if msg %}
            <div class="panel panel-default col-sm-4 col-sm-offset-4">
                <div class="panel-body">
                    {{msg}}
                </div>
            </div>
        {% endif %}
        {% if flag == false %}
            <div class="panel panel-default col-sm-4 col-sm-offset-4">
                <div class="panel-body">
                    <form action="/profile" method="POST">
                        <div class="form-group">
                            <label for="vecchia_password">Password</label>
                            <input type="password" class="form-control" id="vecchia_password" placeholder="Vecchia Password" name="vecchia_password">
                        </div>
                        <div class="form-group">
                            <label for="nuova_password">Nuova Password</label>
                            <input type="password" class="form-control" id="nuova_password" placeholder="Nuova Password" name="nuova_password">
                        </div>
                        <div class="form-group">
                            <label for="conferma_nuova_password">Conferma Nuova Password</label>
                            <input type="password" class="form-control" id="conferma_nuova_password" placeholder="Conferma Nuova Password" name="conferma_nuova_password">
                        </div>
                        <div style="height: 10px;"></div>
                        <button type="submit" class="btn btn-default">Conferma</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default col-sm-4 col-sm-offset-4">
                <div class="panel-body">
                    La password è stata modificata con successo!
                </div>
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="panel panel-default col-sm-12">
        <div class="panel-body">
            <div class="row">
                <h1 align = "center"> Benvenuto nel profilo di {{username}}! </h1>
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <img src="{{profile_pic}}">
                    </div>
                </div>
                <h3 align = "left">
                    Numero recensioni: {{review_num}}<br>
                    Genere preferito: {{fav_genre}}
                </h3>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 align="center">Album preferiti</h1>
            <div class="row">
                {% for i in range (fav_albums|length)%}
                    <div class="col-xs-6 col-md-3">
                        <a href="/album/{{ fav_albums[i].artist }}/{{ fav_albums[i].name }}/{{fav_albums[i].id_itunes}}" class="thumbnail">
                            <img src="{{fav_albums[i].path}}" alt="...">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}