{% extends "base.html" %}

{% block content %}
	{% if flag == false %}
		{% if error %}
			<div class="panel panel-default col-sm-4 col-sm-offset-4">
		  		<div class="panel-body">
		  			Errore nell'inserimento dei dati: <br>
		  			{{ content }}
		  		</div>
		  	</div>
		{% endif %}
		<div class="panel panel-default col-sm-4 col-sm-offset-4">
		  	<div class="panel-body">
		    	<form action="/signup" method="POST">
				  	<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
				  	</div>
				  	<div class="form-group">
					    <label for="first_name">Nome</label>
					    <input type="text" class="form-control" id="first_name" placeholder="Nome" name="first_name">
				  	</div>
				  	<div class="form-group">
					    <label for="second_name">Cognome</label>
					    <input type="text" class="form-control" id="second_name" placeholder="Cognome" name="second_name">
				  	</div>
				  	<div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
				  	</div>
				  	<div class="form-group">
				  		<label for="confirm_password">Conferma password</label>
					    <input type="password" class="form-control" id="confirm_password" placeholder="Conferma password" name="confirm_password">
				  	</div>
				  	<div class="form-group">
					    <label for="email">Email</label>
					    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
				  	</div>
				  	<div class="form-group">
					    <label for="confirm_email">Conferma email</label>
					    <input type="email" class="form-control" id="confirm_email" placeholder="Conferma email" name="confirm_email">
				  	</div>
				  	<div style="height: 10px;"></div>
				  	<button type="submit" class="btn btn-primary">Submit</button>
				</form>
		  	</div>
		</div>
	{% else %}
		<div class="panel panel-default col-sm-4 col-sm-offset-4">
		  	<div class="panel-body">
		  		Registrazione eseguita con successo! <br>
		  		Ti è stata inviata una email con il link di conferma!
		  	</div>
		</div>
	{% endif %}
{% endblock %}