{% extends "base.html" %}

{% block content %}
	<div class = "row">
		<div class="panel panel-default col-sm-8">
	        <div class="panel-body" style="height:180px">  
	            <div class="media-left media-middle">
			    	<a>
			      		<img class="media-object" 
			      		src="{{album_path}}"
					    height="150" width="150">
			    	</a>
			  	</div>
			  	<div class="media-body media-middle">
			    	<h1 class="media-heading" style = "width: 100%" align="center">{{username}}'s review of </h1>
			    	<h2 style = "width: 100%" align="center">{{album_name}} by {{artist_name}}</h2>
			  	</div>
	        </div>
	    </div>

	    <div class="panel panel-default col-sm-4">
	        <div class="panel-body" style="height:180px">  
	        	<br>
	        	{% if rating %}
	        		<h2><p align="center"> Average rating </p></h2>
		        	<div class="progress" style = "height: 35px;">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{rating * 10}}%; min-width: 2em;">
							<h4>{{rating}}</h4>
						</div>
					</div>
				{% else %}
					<h2><p align="center"> Nessuna recensione yet </p></h2>
				{% endif %}
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="panel panel-default col-sm-12">
	        <div class="panel-body">  
		        <h1>{{title}} - Rating: {{user_rating}}</h1>
		        <br>
	        	<h4>
		        	{% for line in content.splitlines() %}
						{{line}}<br>
					{% endfor %}
				</h4>
	        </div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default col-sm-12">
	        <div class="panel-body">
	            <bold><h2 align = "center">Commenti</h2></bold><br>
	            {% if comments %}
	            	{% for comment in comments %}
	                    <div class="panel panel-default col-sm-12">
	                        <div class="panel-body">
			                    <div class="media">
								  	<div class="media-left media-top">
								    	<a href="/profile/{{comment.author}}">
								      		<img class="media-object" src="{{ comment.profile_pic }}" height="75" width="75">
								    	</a>
								  	</div>
								  	<div class="media-body">
								    	<h3 class="media-heading">{{ comment.author }}:</h3>
								    	<h4>{{ comment.text }}</h4>
								  	</div>
								</div>
							</div>
						</div>
		            {% endfor %}
	            {% else %}
	            	Nessuno ha ancora scritto un commento.
	            {% endif %}
	            <div class="panel panel-default col-sm-12">
                    <div class="panel-body">
                    	<form action = "/review/{{username}}/{{artist_name}}/{{album_name}}/{{album_id}}" method = "POST">
	                    	<h4><label for="content">Scrivi un commento!</label></h4>
							<textarea class="form-control" rows="8" name = "content"></textarea>
							<button type="submit" class="btn btn-primary btn-lg">Confirm!</button>
                    	</form>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
{% endblock %}